<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> 
      {% block title %} {% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- mycss -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <style>
      
      #file{
        display: none;
      }
      #fileLable{
        cursor: pointer;
      }
    </style>
  </head>    
  <div class="bg-success w-100" style="height:10px"></div>
  <div class="container">
    <div class="row">
      {% load static %} <a href="{% url 'index' %}"><img src="{% static 'icons/logo.png' %}" alt="logo" class="img-fluid" width="30%"/></a>
    </div>
  </div>
      {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="{% url 'index' %}">Welcome To <b> Dr CNN </b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
             <a class="nav-link active" href="{% url 'detect_disease' %}"> Test Your Covid <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'user_login' %}">User Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'user_signup' %}">User Registration</a>
            </li>
          </ul>
          
        </div>
      </nav> {% endcomment %}
    {% block content %}
    
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>