<html>
  <head>
    <title>Dr. CNN: Error</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body
    style="background-color: FCB82F; text: center"
    class="text-center align-middle"
  >
    <img
      src="core/templates/core/images/error.jpg"
      width="75%"
      style="margin: auto; text: center"
    />
  </body>
</html>
