{% extends 'core/html/base.html' %}
{% load static %}
{% block title %} Home : Dr. CNN{% endblock %}
{% block content %}

<div class="container small-center">
  <div class="row mx-auto border border-success">
      <div class="col-md-6 d-flex align-items-center">
          <p class="mx-auto"> <span class="h6"> Welcome to </span><br><br/><span class="h1"> Dr. CNN </span> <br>
          <span class="mb-4 h5">Your Personal Healthcare Solution</span> <br/>
          Upload your check X-ray to classify between <br> Covid | Bacterial Pneumonia | Viral Pneumonia | Normal <br>
          {% comment %} <span class="h6">Know more about the architecture from <a class="text-dark" href="architecture/"><u>here</u></a></span><br> {% endcomment %}
          <a class="btn btn-success btn-lg mr-2 mt-4" href="{% url 'detect_disease' %}">Check Now</a>
          <a class="btn btn-outline-success btn-lg mr-2 mt-4" href="architecture/">Understand Architecture</a>
          <br/><br/>
          <span class="mt-3 mb-1 h5">Designed and Developed By:</span><br/>
          <span class="mb-0 h6">Sushant Kumar | Pabitra kr. Panda</span><br/>
          <br>
          <span class="mt-4 mb-1 h5">Project Author:</span><br/>
          <span class="mb-0 h6">Sushant Kumar | Pabitra kr. Panda</span><br/>
          <span class="h6">Anurag Anand | Vikiram Sharma</p>
      </div>
      <div class="col-md-6">
          <img src="{% static 'images/researchers.png' %}" alt="doctors" class="img-fluid">
        </div>
  </div>
</div>


{% endblock %}