body {
  font-family: 'Poppins', sans-serif;
  background: rgb(238, 255, 242);
  background: linear-gradient(
    132deg,
    rgba(238, 255, 242, 1) 0%,
    rgba(209, 241, 195, 0.9273504273504274) 69%,
    rgba(170, 207, 214, 1) 100%
  );
  overflow-x: hidden;
  /* overflow-y: hidden; */
  height: 100vh;
  width: 100%;
}
input[type="text"],
input[type="password"] {
  background-color: rgb(221, 233, 248);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: rgb(17, 1, 99);
  font-weight: 500;
}
.login-box {
  border-radius: 20px;
  box-shadow: 4px 4px 37px 0px rgba(0, 0, 0, 0.35);
}
.dark-blue {
  color: rgb(17, 1, 99);
}
.b_right {
  border: 2px solid;
  height: 100%;
  margin: 0 auto;
  border-radius: 18px;
  background-color: black;
  width: 1px;
}
.hz_hr {
  visibility: hidden;
  display: none;
}
/* doctorProfile */
.profile {
  border-radius: 50%;
  margin: 10px 5px;
  width: 200px;
  border: 2px solid green;
}
.profile_body {
  text-align: right;
}
.bg-color {
  background-color: white;
}
.bg-style {
  position: absolute;
  opacity: 0.1;
}
/* userhome */
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

/* home */
.researchers {
  width: 100px;
}
@media only screen and (max-width: 767px) {
  .small-center {
    text-align: center;
  }
  body {
    height: auto;
  }
}
@media only screen and (max-width: 575px) {
  .profile_body {
    text-align: center;
  }
  .researchers {
    width: 300px;
  }
  .b_right {
    display: none;
    visibility: hidden;
  }
  .hz_hr {
    visibility: visible;
    display: block;
  }
}
